.modal {
  h3 {
    margin: 0 0 1.5rem;
  }

  padding: 2rem 3rem;
  position: relative;
}

.modal-project-help {
  padding: 0;

  .modal {
    max-width: 800px;
  }

  .modal-inner {
    p {
      max-width: 60%;

      a {
        @include ripple;
        color: $brand1;

        &:hover {
          color: $brand2;
        }
      }
    }

    code {
      border: none;
      font-family: $mono;
      background: $light2;
      font-size: 0.9em;
    }

    em {
      content: 'Example:';
      font-family: $mono;
      color: $dark3;
      position: absolute;
      right: 190px;
      bottom: 175px;
      display: block;
      font-size: 0.9em;
      font-style: normal;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}