body {
  background:
    url('../images/topo-pattern-white.png') repeat 20px 0,
    linear-gradient(185deg, #F0F1F6 0%, lighten(#e6e9f0, 1%) 100%);
  background-size: 376px auto, auto auto;
  font-family: $europa;
  color: $dark2;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3 {
  @include europaBold;
}

.content-wrap {
  padding: 0;
}

.view-wrap {
  width: 100%;
  height: 100%;
}

#main {
  min-height: 88vh;
  overflow-x: hidden;
  transition: all 0.25s ease-in-out;

  .grid-container {
    max-width: 65rem;
    padding-top: 1.5rem;
  }

  // page transition animations
  &.ng-animate {
    min-height: 100vh;
  }

  &.ng-enter {
    animation: slideInLeft 0.125s all ease-in-out;
    z-index: 8888;
  }
  &.ng-leave {
    animation: fadeOut 0.075s all linear;
    z-index: 999;
    opacity: 0;
  }
}

#main.ng-animate + footer {
  position: absolute;
  top: 200vh;
  opacity: 0;
}

.button,
button {
  border-radius: 2rem;
  padding: 0.25rem 2rem;
  line-height: 2;
  background: $light2;
  color: $brand2;
  border: 1px solid transparent;
  box-shadow: none;
  margin: 1rem 0;
  @include transition;
  @include box-shadow(0,1px,3px,rgba(0,0,0,0.2));
  @include europaBold;

  .icon {
    font-size: 0.75rem;
    margin: 0 0.5rem;

    &.right {
      margin-right: -0.5rem;
      margin-left: 0.5;
    }
    &.left {
      margin-left: -0.5rem;
      margin-right: 0.5rem;
    }
  }

  &:hover {
    background: white;
    color: darken($brand2, 10%);
    border-color: rgba(55,176,231,0.25);
    @include box-shadow(0,2px,7px,rgba(0,0,0,0.2));
  }
}

::selection {
  color: $brand1;
  background: lighten($brand2, 35%);
}

code,
pre {
  font-family: $mono;
  font-size: 0.825rem;
  line-height: 1.636;
  color: $dark2;

  ::selection {
    color: white;
    background: $brand2;
  }
}

.icon-green {
  color: $success;
}
.icon-blue {
  color: $active;
}
.icon-red {
  color: $error;
}
.icon-orange {
  color: $warn;
}

#basicModal {
  align-items: right;
  -ms-flex-pack: right;
  justify-content: flex-end;

  aside.modal {
    max-width: 940px;
    background: $light3;
    max-height: 100vh;
    overflow-y: scroll;

    .close-button {
      top: 1.125rem;
      right: 1.125rem;
      font-size: 3em;
    }

    h3 {
      margin: 0.5rem 1.25rem 1rem;
      font-size: 1.25rem;
      color: $dark2;
    }

    pre {
      background-color: $light2;
      margin: 1.25rem 1.25rem;
      padding: 0.5rem;
    }
  }
}