@media screen and (max-width: 1024px) {

  .build-list .build-item {
    height: auto;
    overflow: visible;
    list-style: none;

    a {
      overflow: visible;
      padding-left: 45px;

      .act-state {
        position: absolute;
        left: 20px;

        &:after {
          height: 70px !important;
        }
      }

      &:first-of-type {
        .act-state:after {
          height: 45px !important;
        }
      }
    }
  }

  footer {
    ul li:first-child {
      display: none;
    }
  }

  .build-header {
    h1 {
      font-size: 1.25rem;
      max-width: 55%;

      em {
        font-size: 1.2rem;
        display: inline;
         overflow-wrap: break-word;
         word-wrap: break-word;
         -ms-word-break: break-all;
         word-break: break-all;
         word-break: break-word;
         -ms-hyphens: auto;
         -moz-hyphens: auto;
         -webkit-hyphens: auto;
         hyphens: auto;
      }
    }

    .build-chart,
    .button {
      display: none;
    }
  }
}