#sidebar {
  background-color: $light2;

  .grid-content {
    padding: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        display: block;
        padding: 0.75rem 1rem 0.75rem 4rem;
        line-height: 1;
        position: relative;
        @include transition;

        &:hover {
          background-color: darken($light2, 5%);
          color: $dark1;
        }

        svg.iconic {
          position: absolute;
          top: 0.775rem;
          left: 2rem;
        }
      }

      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        padding-bottom: 1.5rem;
      }
    }

    li#project a {
      background-color: darken($light2, 2%);
      font-size: 1.667rem;
      padding: 0.75rem 1rem 0.75rem 3rem;
      margin: 1rem 0.825rem 0.5rem 0.825rem;
      border-radius: 3px;
      font-family: $klinic;
      @include box-shadow(0, 1px, 1px, rgba(0,0,0,0.125));

      span {
        left: -0.925rem;
        top: 0.35rem;
        position: absolute;
      }
    }
  }
}