#header {
  .menu-group,
  .menu-bar {
    background-color: $light4;

    a {
      background-color: transparent;
      color: $dark2;
      font-family: $europa;
      @include transition;

      &:hover {
      }
    }
  }
}

#header {
  background: $light4;

  .icon-right {
    a {
      padding-right: 1rem;

      .rounded {
        border-radius: 50%;
        border: 1px solid $dark3;
        margin-right: 2rem;
      }

      small {
        width: 5px;

        .iconic {
          position: absolute;
          right: 1.5rem;
          top: 1rem;
          width: 7px;
        }
      }
    }
  }
}
