body {
  background: $light4;
  font-family: $europa;
  color: $dark2;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3 {
  @include europaBold;
}

#main {
  padding-top: 1.5rem;
  min-height: 70vh;
  transition: all 0.25s ease-in-out;

  &.ng-animate {
    // min-height: 100vh;
  }

  // &.ng-enter {
  //   animation: slideInLeft 0.125s all ease-in-out;
  //   z-index: 8888;
  // }
  &.ng-leave {
    animation: fadeOut 0.075s all linear;
    z-index: 999;
    opacity: 0;
  }
}

#main.ng-animate + footer {
  position: absolute;
  top: 200vh;
  opacity: 0;
}

#projects {
  a.project {
    background: $light3;
    margin: 0 2% 2rem 2%;
    border: 2px solid $light2;
    border-radius: 4px;
    @include box-shadow;
    @include transition;
  }
}
