#header {
  background-color: rgba(255,255,255,0.5);
  border-bottom: 2px solid white;

  .menu-group,
  .menu-bar {
    background-color: transparent;
    border: none;

    a {
      background-color: transparent;
      color: $light1;
      font-size: 1.125rem;
      font-family: $europa;
      padding: 1.2rem 1.5rem 1.15rem;
      @include transition;
      @include europaBold;

      &:hover {
        color: $brand2;
      }
    }
  }
}

#header {
  background: $light4;

  .menu-group-left {

    li:last-of-type {
      a {
        color: $dark2;
      }
    }
    li + li {
      &:before {
        content: ">";
        display: inline-block;
        color: $light1;
        padding: 1rem 0;
        @include europaBold;
      }
    }
  }

  .icon-right {
    a {
      padding-right: 1rem;

      .rounded {
        border-radius: 50%;
        border: 1px solid $dark3;
        margin-right: 2rem;
      }

      small {
        width: 5px;

        .iconic {
          position: absolute;
          right: 1.5rem;
          top: 1rem;
          width: 7px;
        }
      }
    }
  }
}
