// Fonts
// ---------------------------------------
//
@font-face {
  font-family: 'europabold';
  src: url('../fonts/europa-bold-webfont.woff2') format('woff2'),
       url('../fonts/europa-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'europa';
  src: url('../fonts/europa-regular-webfont.woff2') format('woff2'),
       url('../fonts/europa-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@mixin europaBold {
  font-family: $europa;
  font-weight: bold;
  letter-spacing: 0.025em;
}

// font-family variables
$europa: 'europa','Open Sans',Roboto,Century Gothic,AppleGothic,Arial,sans-serif;
$mono: Menlo, 'DejaVu Sans Mono', 'SF Mono', 'Monaco', 'Inconsolata', "Fira Mono", 'Droid Sans Mono', 'Source Code Pro', 'Lucida Console', monospace;
