.template-build {
  position: relative;
  padding: 1.5rem 1rem 0;
  margin: 0;

  .grid-container {
    max-width: 60rem !important;

    @include breakpoint(xlarge up) {
      max-width: 60rem !important;
    }
  }

  &:after {
    background: linear-gradient(5deg, darken(#F0F1F6, 2%) 0%, lighten(#e6e9f0, 1%) 100%);
    display: block;
    content: " ";
    top: 0;
    left: -2rem;
    width: 110%;
    height: 252px;
    position: absolute;
    z-index: 100;
  }
}

.build-header-wrap {
  position: relative;
  z-index: 200;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.project-header {
  min-height: 145px;
  background-color: $light3;
  border: 1px solid $light1;
  padding: 1.25rem 1.75rem;
  @include box-shadow(0,1px,6px,rgba(0,0,0,0.15));
  @include border-radius(0.2rem);

  h1 {
    font-size: 2rem;
    color: $dark2;
    margin-bottom: 1.25rem;
  }
}
