.project-header {
  border: 1px solid $light1;

  aside {
    color: $active;
    background: $light1;
    font-size: 0.925rem;
    display: block;
    border: 1px solid $light1;
  }
}

.build-list {
  margin-top: 2rem;

  .build-item {
    border: none;

    &:first-child {
      border: none;
    }

    a {
      text-align: left;
      padding: 0.25rem 1.25rem;
      margin: 0 0 0.25rem 0;
      border-radius: 4px;
      @include transition;

      div {
        font-family: $mono;
        font-size: 0.825rem;
        line-height: 2.25;
        letter-spacing: -0.05em;
        color: darken($dark3, 10%);
        @include transition;
      }

      .act-state {
        padding-top: 0.1rem;
        position: relative;
        line-height: 1.725;

        .icon {
          font-size: 1.5rem;
          top: -0.25rem;
          position: absolute;
        }
      }

      .act-author {
        .avatar {
          max-width: 30px;
          border-radius: 0.25rem;
        }
      }

      .act-message {

      }
      .act-hash {

      }
      .act-time-ago {

      }
      .act-time-duration {

      }

      &:after {
        content: "Details >";
        color: $active;
        font-size: 0.75rem;
        position: absolute;
        right: 1rem;
        top: 0.667rem;
        opacity: 0;
        text-align: right;
        @include europaBold;
        @include transition;
      }

      &:hover {
        background: white;
        @include box-shadow(0,1px,4px,rgba(0,0,0,0.15));

        &:after {
          opacity: 1;
          width: auto;
        }

        div {
          color: $dark2;
        }
      }
    }
  }
}
