// Variables
// ---------------------------------------
//
$brand1: #2541B2;
$brand2: #37B0E7;

$dark1: #342E37;
$dark2: #2D3047;
$dark3: #93B7BE;

$light1: #E1E6EE;
$light2: #F4F5F7;
$light3: #FBFBFD;
$light4: #fff;

$success: #70AE29;
$fail:    #D10015;
$error:   $fail;
$warn:    darken(#F5A623, 2.5%);
$active:  $brand2;


// Mixins
// ---------------------------------------
//
@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

// link effect
@mixin ripple($color: $pink) {
  position: relative;
  display: inline-block;
  text-align: center;
  @include transition;

  &::after {
    display: inline-block;
    content: "";
    background: $color;
    height: 3px;
    width: 10%;
    opacity: 0;
    margin: -0.75em auto 0;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
