#primary {
  background: $brand2 url('../images/topo-pattern-white.png') repeat 20px 0;
  // background-blend-mode: overlay;
  background-size: 376px auto;
  width: 56px;
  z-index: 500;
  position: relative;
  @include transition;

  &:hover {
    background-position: -6px 0;
  }

  // app logo
  a.logo {
    background-color: $brand1;
    position: relative;
    display: block;
    height: 58px;

    img {
      width: 36px;
      position: absolute;
      top: 11px;
      left: 10px;
    }

    &:hover {
      background-color: lighten($brand1, 10%);
    }
  }

  .icon {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    width: 56px;
    line-height: 50px;
    text-align: center;

    &:after {
      border: 1px solid $light4;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      content: " ";
      display: block;
      margin: -40px 0 0 12px;
    }

    &.ion-document-text {
      bottom: 60px;
    }

    &.ion-help {
      bottom: 19px;
    }
  }
}

#sidebar {
  background-color: $light2;
  overflow-x: visible;
  overflow-y: hidden;

  .menu-group,
  .menu-bar {
    background-color: $light2;

    a {
      text-align: left;
      color: $dark2;
      background-color: $light2;
    }

    #organization {
      position: relative;
      min-width: 4em;
      text-align: left;
      height: 59px;
      width: 78%;
      margin: 0;
      padding: 0;

      &:after {
        position: absolute;
        bottom: 0;
        width: 84%;
        margin: 0 8%;
        display: block;
        content: " ";
        border-bottom: 2px solid darken($light2, 2%);
      }

      h2 {
        margin: 0;
        color: $dark2;
        display: block;
        text-align: left;
        font-size: 1rem;
        padding: 1.125rem 10% 0 1rem;
      }
    }
  }

  .grid-content {
    padding: 0;
  }

  nav ul {
    list-style: none;
    margin: 0 0 -10px;
    padding: 0;

    li {
      margin: 0;
      padding-top: 0.425rem;
      @include transition;

      a {
        display: block;
        padding: 0.75rem 1rem 0.75rem 1rem;
        border-radius: 3px;
        margin: 0 5%;
        line-height: 0.8;
        position: relative;
        color: darken($dark3, 7.5%);
        @include europaBold;
        @include transition;
      }

      li:hover a {
        color: $dark1;
        background: $light1;
      }

      li.active a {
        background: white;
        color: $dark1;
      }

      ul {
        margin: -0.5rem 0 0 0.425rem;
        padding: 0;

        li {
          a {
            font-size: 0.925rem;
            font-family: $europa;
            font-weight: normal;
            line-height: 1.636;
            display: inline-block;
            border-radius: 2rem;
            padding: 0 0.65rem;
          }
        }
      }

      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        padding-bottom: 1.5rem;
      }
    }
  }
}