#header {
  background-color: rgba(255,255,255,0.05);
  border-bottom: 2px solid rgba(0,0,0,0.0125);
  @include transition;

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }

  .menu-group,
  .menu-bar {
    background-color: transparent;
    border: none;

    a {
      background-color: transparent;
      color: $dark3;
      font-size: 1rem;
      font-family: $europa;
      padding: 1.2rem 1.5rem 1.1rem;
      display: inline-block;
      @include transition;
      @include europaBold;

      em {
        font-family: $mono;
        font-style: normal;
        font-size: 1rem;
        letter-spacing: 0.01em;
        margin-left: 0.5rem;
        text-transform: uppercase;
        color: $dark2;
        font-weight: normal;

        &:before {
          content: '#';
        }
      }

      &:hover {
        color: $brand2;
      }
    }
  }

  // top breadcrumbs
  .menu-group-left {
    ul.menu-bar {
      li:last-child,
      li.active {
        a {
        color: $dark2;
        }
      }

      li + li {
        &:before {
          content: ">";
          display: inline-block;
          color: $dark3;
          opacity: 0.5;
          padding: 1rem 0;
          @include europaBold;
        }
      }
    }
  }

  // account menu
  .icon-right {
    a {
      padding-right: 1rem;

      .rounded {
        background: white;
        border-radius: 50%;
        border: 1px solid $brand2;
        color: $light1;
        margin-right: 1.5rem;
        margin-top: -2px;
        font-size: 1.25rem;
        width: 24px;
        height: 24px;
        display: inline-block;
        text-align: center;
        @include transition;
      }

      small {
        width: 5px;

        .icon {
          position: absolute;
          right: 1.25rem;
          top: 1.5rem;
          width: 7px;
          color: $brand2;
        }
      }

      &:hover {
        .rounded {
          color: darken($light1, 7.5%);
        }

        small .icon {
          color: $dark2;
        }
      }
    }
  }
}

.popup.switcher-wrap.is-active {
  top: -1px !important;
  left: 48px !important;
  position: fixed !important;
  border-radius: 1px;
  // opacity: 0 !important;

  // &.is-active {
  //   opacity: 1 !important;
  // }

  // & + .popup.switcher-wrap.is-active {
  //   opacity: 0 !important;
  //   left: -9999em !important;

  //   &:last-of-type {
  //     opacity: 1 !important;
  //     left: 48px !important;
  //   }
  // }
}

#switcher {
  padding: 0 0 0.825rem;
  top: -1px !important;
  left: 48px !important;
  position: fixed !important;
  border-radius: 1px;

  select {
    margin: 0.25rem 7%;
    width: 86%;
    color: $dark2;
    @include europaBold;
  }

  small,
  a {
    padding: 0.25rem 1rem;
    line-height: 1.4;
  }

  a {
    color: $dark2;
    border-radius: 3px;
    @include europaBold;
    @include transition;

    &:hover {
      background-color: $light2;
      color: $brand2;
    }
  }

  small {
    @include uppercase;
    display: inline-block;
    padding-top: 1rem;
  }

  ul, li {
    padding: 0;
    margin: 0;
    border: none !important;
  }
}

#account-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      small,
      strong {
        display: block;
        padding: 0.5rem 1rem;
      }

      small {
        @include uppercase;
      }
      a {

      }
    }
  }
}
