#primary {
  background: $brand2 url('../images/topo-pattern-white.png') repeat 20px 0;
  // background-blend-mode: overlay;
  background-size: 376px auto;
  width: 56px;
  z-index: 500;
  position: relative;
  @include transition;

  &:hover {
    background-position: -6px 0;
  }

  // app logo
  a.logo {
    background-color: $brand1;
    position: relative;
    display: block;
    height: 58px;

    img {
      max-width: 32px;
      position: absolute;
      top: 12px;
      left: 11px;
    }

    &:hover {
      background-color: lighten($brand1, 10%);
    }
  }

  .icon {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    width: 56px;
    line-height: 50px;
    text-align: center;

    &:after {
      border: 1px solid $light4;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      content: " ";
      display: block;
      margin: -40px 0 0 12px;
    }

    &.ion-document-text {
      bottom: 60px;
    }

    &.ion-help {
      bottom: 19px;
    }
  }
}

#sidebar {
  background-color: $light2;
  overflow-x: visible;
  overflow-y: hidden;

  .menu-group,
  .menu-bar {
    background-color: $light2;

    a {
      text-align: left;
      color: $dark2;
      background-color: $light2;
    }

    #organization {
      position: relative;
      min-width: 4em;
      text-align: left;
      height: 59px;
      width: 78%;
      margin: 0;
      padding: 0;

      &:after {
        position: absolute;
        bottom: 0;
        width: 84%;
        margin: 0 8%;
        display: block;
        content: " ";
        border-bottom: 2px solid darken($light2, 2%);
      }

      a {
        display: block;
        padding: 0.5rem 11% 0;
        @include transition;

        .icon {
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          line-height: 1.5;
          top: 1.125rem;
          left: auto;
          right: 0.825rem;
          font-size: 0.825rem;
          color: darken($light1, 5%);
          text-align: center;
          background: rgba(255,255,255,0.25);
          border-radius: 50%;
          border: 1px solid darken($light1, 2.5%);
          @include transition;
        }

        h2 {
          margin: 0;
          color: $dark2;
          display: block;
          text-align: left;
          font-size: 1.25rem;
        }

        h3 {
          margin: 0;
          color: $dark3;
          display: block;
          font-size: 0.575rem;
          @include uppercase;
        }

        &:hover {
          background: darken($light2, 2.5%);

          .icon {
            color: lighten($dark2, 8%);
            background: rgba(255,255,255,1);
          }
        }
      }
    }
  }

  .grid-content {
    padding: 0;
  }

  nav ul {
    list-style: none;
    margin: 0 0 -10px;
    padding: 0;

    li {
      margin: 0;
      padding-top: 0.425rem;
      @include transition;

      a {
        display: block;
        padding: 0.75rem 1rem 0.75rem 1rem;
        border-radius: 3px;
        margin: 0 5%;
        line-height: 0.8;
        position: relative;
        color: darken($dark3, 7.5%);
        @include europaBold;
        @include transition;
      }

      &.active a,
      &:hover a {
        background: linear-gradient(95deg, $light1 0%, lighten($light1, 2%) 100%);
        color: $dark1;
      }

      &.active {
        background: linear-gradient(185deg, #F0F1F6 0%, lighten(#e6e9f0, 3.5%) 100%);

        a {
          color: $dark1;
        }

        ul {
          display: block;

          li {
            a {
              background: transparent;
              color: darken($dark3, 7.5%);
            }

            &.active,
            &:hover {
              background: transparent;

              a {
                background-color: white;
                color: $dark2;
              }
            }
          }
        }
      }

      ul {
        margin: -0.5rem 0 0 0.425rem;
        padding: 0;

        li {
          a {
            font-size: 0.925rem;
            font-family: $europa;
            font-weight: normal;
            line-height: 1.636;
            display: inline-block;
            border-radius: 2rem;
            padding: 0 0.65rem;
          }
        }
      }

      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        padding-bottom: 1.5rem;
      }
    }

    li#project a {
      background-color: $light1;
      font-size: 1.667rem;
      padding: 0.75rem 1rem 0.75rem 3rem;
      margin: 1rem 0.825rem 0.5rem 0.825rem;
      border-radius: 2px;
      font-family: $europa;

      span {
        left: -0.925rem;
        top: 0.35rem;
        position: absolute;
      }
    }
  }
}