footer {
  border-top: 2px solid rgba(55,55,55,0.025);
  opacity: 1;
  position: relative;
  @include transition;

  .microsoft-logo {
    position: absolute;
    top: 0.825rem;
    right: 1rem;

    img {
      max-height: 24px;
    }
  }

  ul {
    margin: 0.5rem 2rem 0;

    li {
      margin-right: 1.5rem;

      a,
      span {
        padding: 0.5rem 0rem 0.667rem 0rem;
        display: inline-block;
        font-size: 0.825rem;
        color: $dark3;
      }

      a {
        color: $brand2;
        padding: 0.75rem 0.5rem 1rem 0.5rem;
      }
    }
  }
}