.template-home {
  min-height: 100vh;
  margin-bottom: -80px;

  .grid-container {
    @include breakpoint(xlarge up) {
      max-width: 80rem !important;
    }
  }

  .add-project {
    display: inline-block;
    padding: 0.75rem 1rem 0.75rem 2.75rem;
    border: 1px dashed $brand2;
    margin: 0 1rem 1.75rem;
    background-color: rgba(255,255,255,0.5);
    font-size: 0.75rem;
    color: $dark3;
    line-height: 1.2;
    position: relative;
    font-weight: bold;
    @include transition;
    @include border-radius(0.25rem,0.25rem);
    @include uppercase;

    .icon {
      color: $brand2;
      font-size: 1.25rem;
      margin-right: 0.5rem;
      position: absolute;
      top: 0.425rem;
      left: 0.75rem;
    }

    &:hover {
      background-color: rgba(255,255,255,0.825);
      border-color: darken($brand2, 10%);
      color: $dark2;
    }
  }

  #projects {
    padding-bottom: 4rem;
  }

  .project {
    position: relative;
    height: 170px;
    background: lighten($light3, 2.5%);
    margin: 1rem 0.925rem;
    border: 2px solid transparent;
    border-radius: 4px;
    @include box-shadow(0,2px,12px,rgba(0,0,0,0.2));
    @include transition;

    a {
      overflow: hidden;
      display: inline-block;
      width: 100%;
      height: 170px;
    }

    h2 {
      margin: 1.2rem 2rem 0 4rem;
      font-size: 1.5rem;
      line-height: 1.25;
      color: $dark1;
      @include transition;
      @include wordwrap;
    }

    h4 {
      @include uppercase;
      font-size: 0.667rem;
      letter-spacing: 0.15em;
      color: darken($light1, 15%);
      margin: 0.5rem 0 1rem 4rem;
    }

    &:hover {
      background: white;
      border-color: rgba(55,176,231,0.25);
      @include box-shadow(0,2px,7px,rgba(0,0,0,0.2));

      h2 {
        color: $brand2;
      }
    }

    .status {
      img,
      .icon {
        font-size: 2rem;
        text-align: left;
        width: 36px;
        height: 36px;
        display: inline-block;
        position: absolute;
        top: 1.125rem;
        left: 1.25rem;
        z-index: 500;
        display: none;
        background: white;
        border-radius: 50%;
      }

      img {
        margin-top: -2px;
        margin-left: -4px;
        background: darken($light2, 5%);
      }

      &::before {
        font-size: 2rem;
        text-align: left;
        width: 28px;
        height: 28px;
        display: inline-block;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        z-index: 500;
        display: block;
        background: $light2;
        border-radius: 50%;
        border: 2px solid white;
        content: ' ';
      }

      &:after {
        width: 2px;
        height: 136px;
        background-color: $light1;
        display: block;
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        z-index: 300;
      }
    }

    .activity {
      ul {
        list-style: none;
        margin: 10px 0 0 4rem;

        li {
          font-family: $mono;
          color: $dark3;
          line-height: 1.6;
          font-size: 0.667rem;
          position: relative;

          &:before {
            display: block;
            content: " ";
            width: 13px;
            height: 13px;
            background-color: $light1;
            @include transition;
            @include border-radius(50%, 50%);
            border: 2px solid white;
            position: absolute;
            z-index: 650;
            left: -2.35rem;
            top: 3px;
          }

          &.error {
            color: $error;

            .icon {
              color: $brand2;
              margin-left: 1.5rem;
            }

            &:before {
              background-color: $error;
            }
          }

          &.active {
            color: darken($dark3, 10%);

            .icon {
              color: $brand2;
              margin-left: 1.5rem;
            }

            &:before {
              background-color: $brand2;
              animation: pulse 2s infinite;
            }
          }
        }
      }

    }

    &.project-success {
      .icon {
        display: block;
        color: $success;
      }
    }

    &.project-failed {
      .icon {
        display: block;
        color: $fail;
      }
    }

    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(55,176,231,0.4);
      }
      70% {
          -webkit-box-shadow: 0 0 0 10px rgba(55,176,231,0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(55,176,231,0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba(55,176,231,0.4);
        box-shadow: 0 0 0 0 rgba(55,176,231,0.4);
      }
      70% {
          -moz-box-shadow: 0 0 0 10px rgba(55,176,231,0);
          box-shadow: 0 0 0 10px rgba(55,176,231,0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 rgba(55,176,231,0);
          box-shadow: 0 0 0 0 rgba(55,176,231,0);
      }
    }

    &.project-active {
      img.status-active {
        display: block;
        color: $active;
      }
    }
  }
}
