#primary {
  background: $brand2 url('../images/topo-pattern-white.png') repeat 20px 0;
  // background-blend-mode: overlay;
  background-size: 376px auto;
  width: 56px;
  z-index: 500;
  position: relative;
  @include transition;

  &:hover {
    background-position: -6px 0;
  }

  // app logo
  a.logo {
    background-color: $brand1;
    position: relative;
    display: block;
    height: 58px;

    img {
      max-width: 32px;
      position: absolute;
      top: 12px;
      left: 11px;
    }

    &:hover {
      background-color: lighten($brand1, 10%);
    }
  }

  .icon {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    width: 56px;
    line-height: 50px;
    text-align: center;

    &:after {
      border: 1px solid $light4;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      content: " ";
      display: block;
      margin: -40px 0 0 12px;
    }

    &.ion-document-text {
      bottom: 60px;
    }

    &.ion-help {
      bottom: 19px;
    }
  }
}

#sidebar {
  background-color: $light2;
  overflow-x: visible;
  overflow-y: hidden;

  .menu-group,
  .menu-bar {
    background-color: $light2;

    a {
      text-align: left;
      color: $dark2;
      background-color: $light2;
    }

    #organization {
      position: relative;
      min-width: 4em;
      text-align: left;
      height: 59px;
      width: 78%;
      margin: 0;
      padding: 0;

      &:after {
        position: absolute;
        bottom: 0;
        width: 84%;
        margin: 0 8%;
        display: block;
        content: " ";
        border-bottom: 2px solid darken($light2, 2%);
      }

      a {
        display: block;
        padding: 1.125rem 10% 0 1rem;
        @include transition;

        .icon {
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          line-height: 1.5;
          top: 1.12rem;
          left: auto;
          right: 0.5rem;
          font-size: 0.825rem;
          color: darken($light1, 8%);
          text-align: center;
          background: rgba(255,255,255,0.825);
          border-radius: 50%;
          border: 1px solid darken($light1, 2.5%);
          @include transition;
        }

        h2 {
          margin: 0;
          color: $dark2;
          display: block;
          text-align: left;
          font-size: 1rem;
        }

        h3 {
          margin: 0;
          color: $dark3;
          display: block;
          font-size: 0.575rem;
          @include uppercase;
        }

        &:hover {
          background: darken($light2, 2.5%);

          .icon {
            color: lighten($dark2, 8%);
            background: rgba(255,255,255,1);
          }
        }
      }
    }
  }

  .grid-content {
    padding: 0;
  }

  nav {

    h4 {
      @include uppercase;
      font-size: 0.825rem;
      opacity: 0.25;
      margin: 1.75rem 0 -0.5rem 1.5rem;
    }

    ul {
      list-style: none;
      margin: 0 0.25rem -10px;
      padding: 0;

      &.build-filter-menu {
        font-size: 1.5rem;

        li {
          a {
            padding: 0.75rem 1.5rem 0.75rem 2.5rem;
            display: block;
            position: relative;
            border-radius: 0.25rem;

            .icon {
              position: absolute;
              left: 0.5rem;
              top: 0.75rem;
              background-color: transparent;
              text-align: center;

              &.ion-ios-bolt,
              &.ion-social-github,
              &.ion-ios-pulse-strong {
                min-width: 20px;
                top: 0.7rem;
                text-align: center;
              }

              img {
                position: relative;
                left: auto;
                top: auto;
                filter: gray;
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                background-color: transparent;
              }
            }

            &:hover {
              img {
                filter: none;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
              }
            }
          }
        }
      }

      li {
        margin: 0;
        padding-top: 0.425rem;
        @include transition;

        a {
          display: block;
          padding: 0.75rem 1rem 0.75rem 1rem;
          border-radius: 3px;
          margin: 0 5%;
          line-height: 0.8;
          position: relative;
          color: darken($dark3, 7.5%);
          @include europaBold;
          @include transition;

          .icon {
            font-size: 1.5rem;
            line-height: 0.5;
            top: 3px;
            left: -11px;
            background: darken($light3, 3.5%);
            // position: absolute;
            z-index: 900;
            @include transition;

            &.ion-checkmark-circled {
              color: $success;
            }

            &.ion-close-circled {
              color: $fail;
            }
          }

          img {
            position: relative;
            left: -11px;
            top: 3px;
            width: 24px;
            height: 24px;
            position: absolute;
            z-index: 900;
            background-color: $light1;
            border-radius: 50%;
          }
        }

        li:hover a {
          color: $dark1;
          background: $light1;
        }

        li.active a {
          background: white;
          color: $dark1;
        }

        ul {
          margin: -0.5rem 0 0 0.425rem;
          padding: 0;

          li {
            a {
              font-size: 0.925rem;
              font-family: $europa;
              font-weight: normal;
              line-height: 1.636;
              display: inline-block;
              border-radius: 2rem;
              padding: 0 0.65rem;
            }
          }
        }

        &:first-child {
          padding-top: 1rem;
        }
        &:last-child {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
}
