<!-- left sidebar -->
<div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-2 large-2 vertical" ng-hide="$state.current.name === 'home'" ng-init="{projectID:build.project_id}">
  <div class="grid-content collapse shrink">
    <ul class="menu-bar primary">
      <li id="organization">
        <h2>{{ build.project_id | limitTo:18 }}<small ng-if="project.name.length > 18">&#8230;</small></h2>
      </li>
    </ul>
  </div>
  <div class="grid-content">
    <nav>
      <ul>
        <li ng-class="{ 'active': $state.current.name === 'project'}">

          <ul>
            <li class="active"><a>All Events</a></li>
            <li><a>Github</a></li>
            <li><a>Docker</a></li>
            <li><a>Slack</a></li>
            <li><a>Trello</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-content collapse shrink avatar-section">
    <nav>
      <ul>
        <li><a href="https://github.com/Azure/kashti/tree/master/docs" target="_blank">
          Docs
        </a></li>
        <li><a href="https://github.com/Azure/kashti/issues/" target="_blank">
          Support
        </a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="grid-block collapse vertical">

  <!-- topbar #header -->
  <div id="header" class="shrink collapse grid-content">
    <div class="menu-group primary">
      <div class="menu-group-left">
        <ul class="menu-bar">
          <li
            ng-class="{ 'active': $state.current.name === 'project'}"
            ng-hide="$state.current.name === 'home'">
            <a ui-sref="project({ id: buildCtrl.build.project_id })">Project Overview</a></li>
          <li ng-show="$state.current.name === 'build'"><a>Build <em>{{ buildCtrl.build.id}}</em></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#header -->

  <div class="grid-block vertical">
    <div class="grid-content content-wrap">

      <div class="grid-container build-chart-{{jobs.length}}" ng-class="{'active-chart': showChart }">

        <div class="grid-content build-header-wrap>
          <div class="grid-block horizontal">
            <div class="small-12">

              <div class="build-header">
                <h1>
                  <a ui-sref="project({ id: build.project_id })" title="Back to Build list"><i class="ion-chevron-left icon"></i></a>
                  Build &nbsp;<em>{{ buildCtrl.build.id }}</em>
                </h1>

                <div class="build-status" ng-class="{
                  'success': build.worker.status == 'Succeeded',
                  'failed': build.worker.status == 'Failed',
                  'active': build.worker.status == 'Pending'}">
                  <div class="success" ng-show="build.worker.status == 'Succeeded'"><i class="icon ion-checkmark-circled"></i> Passed</div>
                  <div class="failed" ng-show="build.worker.status == 'Failed'"><i class="icon ion-close-circled"></i> Failed</div>
                  <div class="active" ng-show="build.worker.status == 'Pending'">
                    <img src="/assets/images/rolling.svg" /> In Progress
                  </div>
                </div>

                <div class="grid-block horizontal build-metadata">
                  <div class="grid-content small-6 text-left">Started at {{build.worker.start_time}}</div>
                  <div class="grid-content small-6 text-right">Finished at {{build.worker.end_time}}</div>
                </div>

                <div class="horizontal build-chart build-chart-{{jobs.length}}" gantt data="data" ng-init="showChart = true" ng-hide="!showChart" ng-controller="JobsController as job">

                  <div class="build-chart-bg"></div>

                  <div class="task task-0"><a href=""><span title="git"><i class="icon ion-social-github"></i></span></a></div>

                  <div class="task task-{{$index + 1}}" ng-repeat="job in jobs">
                    <a ng-click="gotoElement('{{job.id}}')"><span title="job.name">{{job.name}}</span></a>
                  </div>

                  <em></em>
                  <em></em>
                  <em></em>
                  <em></em>
                  <em></em>
                </div>

                <a href="" class="button button secondary small" ng-hide="showChart" ng-click="showChart = true"><i class="icon ion-arrow-up-b"></i> Hide Build Timeline</a>
                <a href="" class="button button secondary small" ng-hide="!showChart" ng-click="showChart = false"><i class="icon ion-arrow-down-b"></i> Show Build Timeline</a>
              </div>

            </div>
          </div>
        </div>

        <div class="job-list" ng-controller="JobsController as job">
          <h4>
            <span ng-show="jobs.length == '0'">There are currently no jobs inside this build.</span>
            <span ng-show="jobs.length == '1'"><span class="job-count">1</span> job ran inside this build:</span>
            <span ng-show="jobs.length > '1'"><span class="job-count">{{ jobs.length }}</span> jobs ran inside this build:</span>
          </h4>

          <ul class="build-details" ng-hide="jobs.length == '0'" id="build-details">
            <li class="parent">
                <em ng-show="build.provider == 'github'"><i class="icon ion-social-github"></i> {{ buildCtrl.build.provider }}</em>
                <em ng-show="build.provider == 'dockerhub'"><img src="/assets/images/docker.png" alt="dockerhub" /> {{ buildCtrl.build.provider }}</em>
                <em ng-show="build.provider == 'slackbot'"><img src="/assets/images/slack.png" alt="Slack" /> {{ buildCtrl.build.provider }}</em>
                <em ng-show="!(
                  build.provider === 'slackbot' ||
                  build.provider === 'dockerhub' ||
                  build.provider === 'github'
                )"> {{ buildCtrl.build.provider }}</em>
                : <em>{{ buildCtrl.build.type }}</em>
                started a build via <em>commit #{{ buildCtrl.build.commit  | limitTo : -6: number.length }}</em>
            </li>
            <li ng-repeat="job in jobs" class="job" ng-class="{
              'active': job.status == 'Pending',
              'success':  job.status == 'Succeeded',
              'failed':  job.status == 'Failed'
            }" id="{{job.id}}">
              <small>Started at {{job.creation_time | date:'MM/dd/yyyy @ h:mma Z'}}</small>
              <h5>{{job.name}}</h5>

              <div class="job-response success" ng-show="job.status == 'Succeeded'">
                <i class="icon ion-checkmark-circled status-success"></i>
                Complete
              </div>
              <div class="job-response active" ng-show="job.status == 'Pending'">
                <img src="/assets/images/rolling.svg" class="status-active" />
                Pending
              </div>
              <div class="job-response fail" ng-show="job.status = Failed">
                Failed
              </div>

              <!-- log output -->
              <div ng-controller="LogController">
                <div ng-show="logerror == '404'">
                  <dl>
                    <dt>Image:</dt>
                    <dd>{{job.image}}</dd>
                    <dt>ID:</dt>
                    <dd>{{job.id}}</dd>
                    <dt>Logs:</dt>
                    <dd>none <span>{{logerror}}</span></dd>
                  </dl>
                </div>
                <div ng-show="logerror == null">
                  <dl>
                    <dt>Image:</dt>
                    <dd>{{job.image}}</dd>
                    <dt>ID:</dt>
                    <dd>{{job.id}}</dd>
                    <dt>Log output:</dt>
                  </dl>
                  <div class="log-wrap" ng-class="{'log-expand': expandLog == true }">

                    <div
                      hljs
                      hljs-source="logs"
                      class="log-inner">
                    </div>

                    <a ng-click="expandLog = !expandLog">
                      <span ng-show="!expandLog"><i class="icon ion-arrow-down-b"></i> Expand log</span>
                      <span ng-show="expandLog"><i class="icon ion-arrow-up-b"></i> Collapse log</span>
                    </a>
                  </div>
                </div>
              </div>

              <small>Finished at {{job.end_time | date:'MM/dd/yyyy @ h:mma Z'}}</small>

            </li>
          </ul>
        </div>

      </div>

      <!-- app footer -->
      <footer class="collapse shrink">
        <ul class="inline-list">
          <li><span><a href="https://github.com/Azure/kashti" target="_blank">KASHTI</a> and <a href="https://github.com/Azure/brigade" target="_blank">BRIGADE</a> are licensed under the The MIT License.</span></li>
          <li><a href="https://github.com/Azure/kashti/releases" target="_blank">Changelog</a></li>
          <li><a href="https://github.com/Azure/kashti/tree/master/docs" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/Azure/kashti/" target="_blank">Github</a></li>
        </ul>
      </footer>

    </div>
  </div>

</div>
