.template-build {
  position: relative;
  margin: 0;

  .content-wrap {
    // background: yellow;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .grid-container {
    max-width: 60rem !important;

    @include breakpoint(xlarge up) {
      max-width: 65rem !important;
    }

    .button {
      position: absolute;
      bottom: -.9rem;
      right: 1.75rem;
      transition: none;
      padding-left: 0.75rem;
      padding-right: 1rem;
    }

    &.active-chart {
      &:after {
        height: 335px;
      }

      .button {
        position: absolute;
        bottom: 0.5rem;
      }
    }
  }
}

.build-chart-0 {
  height: 0.95rem !important;

  .build-chart-bg {
    height: 210px !important;
  }

  .build-chart {
    display: none;
  }
}


.build-chart-1 {
  height: 2.25rem !important;

  .build-chart-bg {
    height: 238px !important;
  }

  &.build-chart {
    &:before,
    &:after {
      height: 50px !important;
    }
  }
}

.build-chart-2 {
  height: 4.5rem !important;

  .build-chart-bg {
    height: 210px !important;
  }

  .build-chart {
    &:before,
    &:after {
      height: 80px !important;
    }
  }
}

.build-chart-3 {

}

.build-header-wrap {
  position: relative;
  z-index: 200;
  padding-bottom: 0.825rem;
  padding-left: 2rem;
  overflow: visible;
}

.build-header {
  padding: 1.25rem 1.75rem;
  position: relative;
  overflow-x: hidden;

  h1 {
    font-size: 1.75rem;
    color: $dark2;
    margin-bottom: 1.25rem;
    padding-left: 1rem;
    margin: -0.25em 0 1em;
    position: relative;

    a {
      position: absolute;
      left: -1rem;
      padding-right: 1.5rem;
      color: $brand2;
      font-size: 1.25rem;
      top: 0.35rem;
      @include transition;

      &:hover {
        left: -2.5rem;
      }
    }

    em {
      font-family: $mono;
      font-style: normal;
      font-size: 1.667rem;
      letter-spacing: 0.01em;
      text-transform: uppercase;

      &:before {
        content: '#';
      }
    }

    small {
      font-family: $mono;
      font-size: 0.667rem;
      position: absolute;
      left: -2.5rem;
      top: 1.333rem;
      color: darken($dark3, 7.5%);
    }
  }

  .build-metadata {
    font-family: $mono;
    font-size: 0.667rem;
    color: darken($dark3, 7.5%);
    margin-top: -0.5rem;
    padding-bottom: 2rem;
  }

  .build-chart {
    height: 13.5rem;
    position: relative;

    .build-chart-bg {
      background: linear-gradient(5deg, darken(#F0F1F6, 7.5%) 0%, lighten(#e6e9f0, 1%) 100%);
      display: block;
      content: " ";
      top: 0px;
      left: 0%;
      right: 0%;
      width: 100%;
      height: 150px;
      position: fixed;
      z-index: -100;
      @include transition;
    }

    &:before,
    &:after {
      display: inline-block;
      width: 2px;
      position: absolute;
      height: 160px;
      content: " ";
      background: $light2;
      top: -0.5rem;
      bottom: 0;
      z-index: -2;
      left: 1rem;
    }

    &:after {
      left: auto;
      right: 1rem;
    }

    .task {
      position: absolute;
      display: block;
      z-index: 550;
      overflow: visible;
      font-family: $mono;
      font-size: 0.667rem;
      line-height: 1.636;
      min-width: 2%;
      color: white;
      @include border-radius(2px);
      @include box-shadow(0,1px,3px,rgba(255,255,255,0.5));
      @include transition;

      &:hover {
        background: $brand1;
      }

      .icon {
        padding-left: 0.25rem;
      }

      a {
        color: white;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0.2rem 0.5rem;
        z-index: 110;
        height: 1.5rem;
        background: $brand2;
      }

      span {
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
      }

      &:after {
        display: inline-block;
        content: " ";
        width: 10000%;
        position: absolute;
        height: 2px;
        top: 12px;
        content: " ";
        background: $light2;
        left: -1000%;
        right: -1000%;
        z-index: -20;
      }
    }

    .task-0 {
      top: 0;
      width: 4%;
      left: 0%;
      z-index: 1101;

      &:after {
        display: none;
      }
    }

    .task-1 {
      top: 0;
      width: 15%;
      left: 5%;
    }

    .task-2 {
      left: 5%;
      top: 2rem;
      width: 70%;
    }

    .task-3 {
      left: 0;
      top: 4rem;
      width: 25%;
      left: 5%;
    }

    .task-4 {
      left: 30%;
      top: 6rem;
      width: 15%;

    }

    .task-5 {
      left: 70%;
      top: 8rem;
      width: 14%;
    }

    .task-6 {
      left: 85%;
      top: 8rem;
      width: 15%;
    }
  }
}

.job-list {
  h4 {
    margin: 0.5rem 1.125rem 2rem;
    @include europaBold;
    font-size: 1.125rem;
    color: $dark3;

    .job-count {
      @include border-radius(50%,50%);
      background: rgba(255,255,255,0.5);
      width: 2rem;
      line-height: 1.5;
      text-align: center;
      display: inline-block;
      padding: 0 0.5rem;
      margin-right: 0.25rem;
      color: $dark2;
    }
  }
}

ul.build-details {
  list-style: none;
  margin: 0.5rem 1.5rem 3rem;

  li,
  .accordion-item {
    background: white;
    margin: 0 0 0.75rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-left: 5px solid lighten($success, 10%);
    @include box-shadow(0,2px,2px,rgba(0,0,0,0.125));
    @include border-radius(4px);
    margin-left: 1rem;
    color: lighten($dark2, 5%);

    &.trigger,
    &:first-child,
    &:last-child {
      border-left-color: transparent;
    }

    &.trigger,
    &.result,
    &:first-child,
    &:last-child {
      margin-left: 0;
    }

    ul,
    .accordion {
      margin: 1rem 0 1rem 0.5rem;
    }
  }

  li.parent {
    em {
      background: $light2;
      font-style: normal;
      color: $dark2;
      font-family: $mono;
      padding: 0.25rem 0.5rem;
      font-size: 0.825rem;
      border-radius: 3px;
      margin-left: 0.3rem;
      margin-right: 0.3rem;

      img {
        max-height: 1.425rem;
      }

      i {
        font-size: 0.925rem;
        margin-right: -0.125rem;
      }
    }
  }

  li.job {
    margin-left: 2rem;
    position: relative;

    h5 {
      @include europaBold;
      font-size: 1.5rem;
      padding: 0.333em 1.5rem 0 0;
      float: left;
      margin-bottom: 1.125rem;
    }

    small {
      font-size: 0.667rem;
      font-family: $mono;
      color: $dark3;
      background: lighten($light2, 5%);
      border-radius: 6px;
      padding: 0 0.5rem;
      margin-top: 0;
      margin-left: -0.5rem;

      &:last-child {
        margin-top: 1rem;
      }

      &.active {

      }
    }

    dl {
      margin-left: 0px;
      margin-top: -32px;
      clear: both;
      line-height: 1.3;

      dt,
      dd {
        display: inline-block;
        color: $dark3;
        font-family: $europa;
        font-size: 0.925rem;
        line-height: 0.9;
        margin: 0;
        padding: 0;
      }
      dt {
        width: 20%;
        font-weight: normal;
      }
      dd {
        width: 70%;
      }
    }

    .job-response {
      font-size: 0.75rem;
      float: left;
      background: $light2;
      margin: 0.925rem 0 0 0;
      padding: 0.25rem 0.75rem 0.25rem 36px;
      border-radius: 3rem;
      line-height: 1.75;
      position: relative;

      i,
      img {
        max-height: 0.75rem;
        font-size: 1.125rem;
        position: absolute;
        left: 0.667rem;
        top: 4px;
        line-height: 1.25;
        margin: 0 0.5rem 0 0;
      }

      img {
        width: 18px;
        max-height: 18px;
      }
    }
  }

  .log-wrap {
    position: relative;
    overflow: hidden;

    a {
      position: absolute;
      bottom: -3em;
      left: 1%;
      width: 98%;
      opacity: 0;
      z-index: -10;
      background: lighten($dark2, 15%);
      color: $light3;
      text-align: center;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 2;
      @include border-radius(4px, 4px);
      @include transition;

      i {
        font-size: 0.75em;
        padding-right: 0.333rem;
      }
    }

    &:hover {
      a {
        z-index: 500;
        bottom: 0.5rem;
        opacity: 1;
      }
    }

    &.log-expand {
      .log-inner,
      .log-inner code {
        height: auto;
      }
    }
  }

  .log-inner {
    background: lighten($dark2, 5%);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 3px;
    height: 135px;
    width: 100%;
    padding: 0.75rem 1rem;
    @include transition;

    code,
    .hljs,
    pre {
      background: transparent;
      padding: 0;
      margin: 0;
      @include transition;
    }

    code {
      border: none;
      font-family: $mono;
      color: white;
      line-height: 1.5;
      font-size: 0.825rem;
      display: table-cell;
      height: 135px;
      vertical-align: bottom;
      padding-bottom: 3em !important;
    }
  }

  li.active {
    border-left: 6px solid $brand2;
  }
  li.success {
    border-left: 6px solid $success;
  }
  li.failed {
    border-left: 6px solid $fail;
  }

  li.zf-accordion-wrap {
    background: none;
    box-shadow: none;
    @include border-radius(0);
    margin: 0;
    padding: 0;
    border: none;
  }

  .parent {
    border-color: lighten($success, 42.5%);
  }

  pre {
    background: $dark2;
    color: $light3;
    padding: 0.5rem 1rem 0;
    margin-bottom: 0.5rem;
    @include border-radius(4px);
  }

  small {
    font-size: 0.825rem;
    display: block;
    line-height: 2;
    margin-top: 0.825rem;
  }

  .icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .ion-checkmark-circled {
    color: $success;
  }

  .accordion {
    border: none;

    .accordion-item {

      .accordion-title {
        background: transparent;
        padding: 0;
        line-height: 1.5;
      }

      .accordion-content {
        display: block;
        padding: 1rem 0.25rem 0;

        // for accordions inside accordions
        .accordion {
          margin: 0;
          padding: 0;

          .accordion-item {
            margin-left: 0;
            background-color: $light2;

            .accordion-content {
              display: none;
            }

            &.is-active .accordion-content {
              display: block;
            }
          }
        }
      }

    }
  }
}