.template-project {
  position: relative;
  padding: 0;
  margin: 0;

  .grid-container {
    @include breakpoint(xlarge up) {
      max-width: 60rem !important;
    }
  }

  &:after {
    background: linear-gradient(adeg, darken(#F0F1F6, 2%) 0%, lighten(#e6e9f0, 1%) 100%);
    display: block;
    content: " ";
    top: 0;
    left: 16.67%;
    width: 110%;
    height: 260px;
    position: absolute;
    z-index: -100;
  }
}

.project-header-wrap {
  position: relative;
  z-index: 200;
  padding: .75rem 2.75rem;
}

.project-header {
  min-height: 145px;
  background-color: $light3;
  border: 1px solid $light1;
  padding: 1.25rem 1.75rem;
  position: relative;
  z-index: 500;
  @include box-shadow(0,1px,6px,rgba(0,0,0,0.15));
  @include border-radius(0.2rem);

  h1 {
    font-size: 2rem;
    color: $dark2;
    margin-bottom: 1.25rem;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      font-family: $mono;
      font-size: 0.75rem;
      color: $dark3;
    }
  }

  .build-status {
    left: auto;
    right: 2rem;
    top: 2rem;
  }
}

.project-status-bar {
  color: $active;
  background: $light2;
  font-size: 0.925rem;
  display: block;
  border: 1px solid $light1;
  margin-top: -1px;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 1100;
  @include box-shadow(0,2px,4px,rgba(0,0,0,0.15));

  img {
    max-width: 3rem;
    margin-top: -3px;
  }

  span {
    position: relative;
    display: inline-block;

    &:after {
      background-color: $light2;
      border-top: 1px solid $light1;
      height: 4px;
      width: 2000px;
      display: block;
      content: " ";
      position: absolute;
      left: 112.5%;
      top: 0.45rem;
      @include border-radius(1rem,1rem);
    }
  }
}

.project-filters {
  padding-top: 2.25rem;
  position: relative;
  overflow-x: hidden;
  margin-right: 1rem;

  &:after {
    display: block;
    content: " ";
    height: 1px;
    width: 100%;
    background: $light1;
    position: absolute;
    top: 3.425rem;
  }

  select {
    margin-left: 1rem;
    margin-right: 5rem;
    border-radius: 0.75rem;
    border-color: $light1;
    background-color: $light2;
    height: 2.5rem;
    line-height: 1.5;
    z-index: 750;

    option {
      font-size: 0.825rem;
    }
  }

  ul {
    padding: 0;
    height: auto;
    margin: 0 2rem;
    z-index: 750;

    &:last-child {
      float: right;
      margin-right: 0;
      position: absolute;
      right: 0;
    }

    li {
      font-size: 0.825rem;
      margin: 0 1rem;
      color: $dark3;
      margin: 0 -2px;
      padding: 0 0.5rem;
      display: inline-block;
      background-color: $light2;
      line-height: 3;
      @include transition;

      &:first-child {
        border-radius: 40px 0 0 40px;
        padding-left: 1rem;
      }

      &:last-child {
        border-radius: 0 40px 40px 0;
        padding-right: 1rem;
      }

      &.active {
        color: lighten($dark2, 7.5%);
      }

      &:hover {
        background: darken($light2, 3.5%);
      }
    }
  }
}

.project-config-summary {

  strong {
    color: $dark2;
    display: block;
    margin-bottom: -1.5rem;
  }

  pre {
    padding: 1rem 0 0 2rem;
    font-size: 0.75rem;
    line-height: 1.425;
    color: $dark3;

    &:hover {
      color: $dark2;
    }
  }

  button {
    position: absolute;
    bottom: 0.12rem;
    min-width: 10rem;
    margin-left: 1.25rem;
    left: 75%;
  }
}

.build-list {
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .build-item {
    border: none;
    height: 42px;
    overflow: hidden;

    &:first-child {
      border: none;
    }

    a {
      text-align: left;
      padding: 0.25rem 1.25rem;
      margin: 0 0 0.25rem 0;
      border-radius: 4px;
      overflow: hidden;
      @include transition;

      span {
        font-family: $mono;
        font-size: 0.825rem;
        line-height: 2.25;
        letter-spacing: -0.05em;
        color: darken($dark3, 10%);
        @include transition;
      }

      .act-state {
        padding-top: 0.1rem;
        padding-left: 0.1rem;
        position: relative;
        line-height: 1.725;
        min-width: 3.5%;

        div {
          display: none;
        }

        &.success {
          div.success {
            display: inline-block;
            color: $success;
          }
        }
        &.failed {
          div.failed {
            display: inline-block;
            color: $fail;
          }
        }
        &.active {
          div.active {
            display: inline-block;
            width: 40px;
            height: 40px;
          }
        }

        .icon {
          font-size: 1.5rem;
          line-height: 0.5;
          top: 3px;
          left: -11px;
          background: darken($light3, 3.5%);
          position: absolute;
          z-index: 900;
          @include transition;

          &.ion-checkmark-circled {
            color: $success;
          }

          &.ion-close-circled {
            color: $fail;
          }
        }

        img {
          position: relative;
          left: -11px;
          top: 3px;
          width: 24px;
          height: 24px;
          position: absolute;
          z-index: 900;
          background-color: $light1;
          border-radius: 50%;
        }

        &:after {
          width: 2px;
          height: 42px;
          left: -2px;
          top: -4px;
          background: $light1;
          position: absolute;
          display: block;
          content: " ";
          z-index: 500;
          opacity: 0.5;
        }
      }

      .act-author {
        min-width: 16%;
        position: relative;
        padding-left: 20px;

        .act-avatar {
          position: absolute;
          top: -7px;
          left: -5px;
          opacity: 0.5;
          @include transition;

          .icon {
            font-size: 20px;
            float: left;
            min-width: 20px;
            text-align: center;
          }

          img {
            max-height: 18px;
            max-width: 15px;
            margin-top: -4px;
            position: relative;
          }
        }
      }

      .act-message {
        min-width: 28%;
      }
      .act-hash {
        min-width: 11%;
      }
      .act-time-ago {
        min-width: 18%;
      }
      .act-time-duration {
        min-width: 10%;
      }

      &:after {
        content: "Details >";
        color: $active;
        font-size: 0.75rem;
        position: absolute;
        right: 1.5rem;
        top: 0.667rem;
        opacity: 0;
        text-align: right;
        @include europaBold;
        @include transition;
      }
    }

    &:hover a,
    &:first-of-type a {
      background: white;
      @include box-shadow(0,1px,4px,rgba(0,0,0,0.15));

      &:after {
        opacity: 1;
        width: auto;
        right: 0.925rem;
      }

      .act-avatar {
        opacity: 1;
      }

      .act-state {
        .icon {
          background: white;
        }
      }

      div {
        color: $dark2;
      }
    }

    &:first-of-type {
      .act-state:after {
        top: 22px;
        height: 20px;
      }
    }
  }
}
