<div class="medium-grid-block collapse medium-12 large-12 vertical">
  <div class="grid-block collapse vertical">
    <div class="grid-block vertical">
      <div class="grid-content content-wrap">

        <div class="grid-content small-centered small-12">
          <div class="grid-container medium-grid-block vertical" id="projects">

            <div class="grid-content">

              <!-- <div class="grid-block">
                <a class="add-project" zf-open="showProjectHelp">
                  <i class="icon ion-plus-circled"></i> Add a Project</a>
                <div zf-modal="showProjectHelp" id="showProjectHelp" class="modal-project-help">
                  <div class="modal-inner">
                    <h3>How to Add Projects</h3>
                    <p>Projects are defined by a
                      <code>brigade.js</code> file in your source code, which links your repo with
                      <a target="_blank" href="//brigade.sh">Brigade</a>, to start listening for events (such as pushes to Github).</p>

                    <p>Check out the
                      <a target="_blank" href="https://azure.github.io/brigade/topics/scripting.html#brigade-scripts-projects-and-repositories">Brigade Docs</a> for details on configuring projects and repositories.</p>

                    <em>Example:</em>
                    <img src="/assets/images/help-project.png" />
                  </div>
                </div>
              </div> -->

              <div class="grid-block">

                <section class="small-12 medium-6 large-4" ng-repeat="projectsbuild in ctrl.projectsbuilds">
                  <div class="project" ng-class="{
                    'project-success': projectsbuild.lastBuild.worker.status == 'Succeeded',
                    'project-failed': projectsbuild.lastBuild.worker.status == 'Failed',
                    'project-active': projectsbuild.lastBuild.worker.status == 'Active'
                  }">
                    <a ui-sref="project({ id: projectsbuild.project.id })">
                      <div class="status">
                        <div class="success" ng-show="projectsbuild.lastBuild.worker.status == 'Succeeded'">
                          <i class="icon ion-checkmark-circled status-success"></i>
                        </div>
                        <div class="failed" ng-show="projectsbuild.lastBuild.worker.status == 'Failed'">
                          <i class="icon ion-close-circled status-fail"></i>
                        </div>
                        <div class="active" ng-show="projectsbuild.lastBuild.worker.status == 'Active'">
                          <img src="/assets/images/rolling.svg" class="status-active" />
                        </div>
                      </div>

                      <h2>{{projectsbuild.project.name}}</h2>
                      <h4>Project</h4>

                      <div class="activity">
                        <ul>
                          <li>
                            <span ng-hide="projectsbuild.lastBuild.worker.status == null">
                              {{projectsbuild.lastBuild.provider}}:{{projectsbuild.lastBuild.type}} {{projectsbuild.lastBuild.commit}} -
                              <span
                                am-time-ago="projectsbuild.lastBuild.worker.end_time"></span>
                            <br>
                            <em>#</em>{{projectsbuild.lastBuild.id}}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </a>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- app footer -->
      <footer class="collapse shrink">
        <ul class="inline-list">
          <li>
            <span>
              <a href="https://github.com/Azure/kashti" target="_blank">KASHTI</a> and
              <a href="https://github.com/azure/brigade" target="_blank">BRIGADE</a> are licensed under the The MIT License.</span>
          </li>
          <li>
            <a href="https://github.com/Azure/kashti/releases" target="_blank">Changelog</a>
          </li>
          <li>
            <a href="https://github.com/Azure/kashti/tree/master/docs" target="_blank">Documentation</a>
          </li>
          <li>
            <a href="https://github.com/Azure/kashti/" target="_blank">Github</a>
          </li>
        </ul>
      </footer>

    </div>
  </div>

</div>
