<div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-2 large-2 vertical" ng-hide="$state.current.name === 'home'" ng-init="{projectID:project.id}">
  <div class="grid-content collapse shrink">
    <ul class="menu-bar primary">
      <li id="organization">
        <h2>{{ ctrl.project.name | limitTo:18 }}<small ng-if="ctrl.project.name.length > 18">&#8230;</small></h2>
      </li>
    </ul>
  </div>
  <div class="grid-content">
    <nav>
      <ul>
        <li>
          <ul ng-controller="BuildsController as buildsCtrl">
            <li ng-class="{ 'active': $state.current.name === 'project'}" class="active"><a>All Events</a></li>
            <li ng-repeat="build in buildsCtrl.builds | filter:provider">
              <a>{{build.provider}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-content collapse shrink avatar-section">
    <nav>
      <ul>
        <li><a href="https://github.com/Azure/kashti/tree/master/docs" target="_blank">
          Docs
        </a></li>
        <li><a href="https://github.com/Azure/kashti/issues/" target="_blank">
          Support
        </a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="medium-grid-block collapse medium-10 large-10 vertical">
  <div class="grid-block collapse vertical">

    <div class="grid-block vertical">
      <div class="grid-content content-wrap">

        <div class="grid-content project-header-wrap">
          <div class="grid-block horizontal collapse">
            <div class="small-12 vertical">
              <div class="project-header">
                <h1>{{ctrl.project.name}}</h1>
                <ul>
                  <li>{{ctrl.project.repo.cloneURL}}</li>
                  <li>Sidecar: {{ctrl.project.kubernetes.vcsSidecar}}</li>
                  <li>Namespace: {{ctrl.project.kubernetes.namespace}}</li>
                </ul>
              </div>

            </div>

          </div>
        </div>

        <ul class="grid-content build-list" ng-controller="BuildsController as buildsCtrl">
          <li ng-repeat="build in buildsCtrl.builds | orderBy: reverse:true" class="medium-grid-block build-item">
            <a ui-sref="build({ id: build.id })" class="grid-block">

              <span class="act-state collapse {{ build.worker.status }}" ng-class="{
                'success': build.worker.status == 'Succeeded',
                'failed': build.worker.status == 'Failed',
                'active': build.worker.status == 'Pending'
              }">
                <div class="success" title="Passed"><i class="icon ion-checkmark-circled"></i></div>
                <div class="failed" title="Failed"><i class="icon ion-close-circled"></i></div>
                <div class="active" title="In progress">
                  <img src="/assets/images/rolling.svg" />
                </div>
              </span>
              <span class="act-author">
                <span class="act-avatar">
                  <i class="icon ion-social-github" ng-show="build.provider === 'github' "></i>
                  <i class="icon avatar-slack" ng-show="build.provider === 'slack' ">
                    <img src="/assets/images/slack.png" />
                  </i>
                  <i class="icon avatar-trello" ng-show="build.provider === 'trello' ">
                    <img src="/assets/images/trello.png" />
                    </i>
                  <i class="icon ion-ios-bolt" ng-show="build.provider === 'brigade-cli' "></i>
                </span>
                {{build.provider | limitTo:18 }}<small ng-if="build.provider.length > 18">&#8230;</small>
              </span>
              <span class="act-hash">
                {{build.commit | limitTo : -6: number.length }}
              </span>
              <span class="act-message">
                <em>#</em>{{build.id | limitTo:34 }}<small ng-if="build.id.length > 34">&#8230;</small>
              </span>
              <span class="act-time-ago">
                {{build.worker.status}} <span am-time-ago="build.worker.end_time"></span>.
              </span>
              <span class="act-time-duration">
                Ran for <span>{{ build.worker.end_time | amDifference : build.worker.start_time : 'seconds' }} seconds.</span>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <!-- app footer -->
      <footer class="collapse shrink">
        <ul class="inline-list">
          <li><span><a href="https://github.com/Azure/kashti" target="_blank">KASHTI</a> and <a href="https://github.com/azure/brigade" target="_blank">BRIGADE</a> are licensed under the The MIT License.</span></li>
          <li><a href="https://github.com/Azure/kashti/releases" target="_blank">Changelog</a></li>
          <li><a href="https://github.com/Azure/kashti/tree/master/docs" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/Azure/kashti/" target="_blank">Github</a></li>
        </ul>
      </footer>

    </div>
  </div>

</div>
