---
name: build
url: /build/:id
animationIn: slideInLeft
controller: buildController
---

<div class="grid-container" ng-class="{'active-chart': showChart }">

  <div class="grid-content build-header-wrap">
    <div class="grid-block horizontal">
      <div class="small-12">

        <div class="build-header" >
          <h1>
            <a href="../acid-ui/#!/project/{{ build.project_id }}" title="Back to Build list"><i class="ion-chevron-left icon"></i></a>
            <!--<small>#213</small>-->
            {{ build.id }}
          </h1>

          <div class="build-status" ng-init="buildResult='success'" ng-class="{
            'build-success': buildResult == 'success',
            'build-failed': buildResult == 'failed',
            'build-active': buildResult == 'active'
          }">
            <div class="success" ng-show="buildResult == 'success'"><i class="icon ion-checkmark-circled"></i> Passed</div>
            <div class="failed" ng-show="buildResult == 'failed'"><i class="icon ion-close-circled"></i> Failed</div>
            <div class="active" ng-show="buildResult == 'active'"><img src="assets/images/rolling.svg" /> In Progress</div>
          </div>

          <div class="grid-block horizontal build-metadata">
            <div class="grid-content small-6 text-left">Duration 2m 12s</div>
            <div class="grid-content small-6 text-right">Finished at 9:46am UTC-8</div>
          </div>

          <div class="horizontal build-chart" gantt data=data ng-init="showChart = true" ng-hide="!showChart">
            <div class="task task-0"><a href=""><span title="git"><i class="icon ion-social-github"></i></span></a></div>
            <div class="task task-1"><a href=""><span title="event.push">event.push</span></a></div>
            <div class="task task-2"><a href=""><span title="goBuild.tasks">goBuild.tasks</span></a></div>
            <div class="task task-3"><a href=""><span title="jsLint.images">jsLint.images</span></a></div>
            <div class="task task-4"><a href=""><span title="jsLint.images">jsLint.images</span></a></div>
            <div class="task task-5"><a href=""><span title="Tasks complete.">Tasks complete.</span></a></div>
            <div class="task task-6"><a href=""><span title="Slack: Post to #ci"><strong>#</strong> Post to #ci</span></a></div>

            <em></em>
            <em></em>
            <em></em>
            <em></em>
            <em></em>
          </div>

          <a href="" class="button button secondary small" ng-hide="!showChart" ng-click="showChart = false"><i class="icon ion-arrow-up-b"></i> Hide Build Timeline</a>
          <a href="" class="button button secondary small" ng-hide="showChart" ng-click="showChart = true"><i class="icon ion-arrow-down-b"></i> Show Build Timeline</a>
        </div>

      </div>
    </div>
  </div>

  <div class="job-list">
    <h4><em>{{ jobs.length }}</em> Jobs in Build: </h4>
    <ul class="build-details">
      <li class="parent">
          <em ng-show="build.provider == 'github'"><i class="icon ion-social-github"></i> {{ build.provider }}</em>
          <em ng-show="build.provider == 'dockerhub'"><img src="assets/images/docker.png" alt="dockerhub" /> {{ build.provider }}</em>
          <em ng-show="build.provider == 'slackbot'"><img src="assets/images/slack.png" alt="Slack" /> {{ build.provider }}</em> 
          : <em>{{ build.type }}</em> 
          started a build via <em>commit #{{ build.commit  | limitTo : -6: number.length }}</em></li>
      <div ng-controller="jobsController">
        <li ng-repeat="job in jobs" class="job" ng-class="{ 'active': job.exit_code = '0' }">
          <small>{{job.creation_time | date:'MM/dd/yyyy @ h:mma Z'}}</small>
          <h5>{{job.name}}</h5>

          <div class="job-response success" ng-show="job.exit_code == '1'">
            <i class="icon ion-checkmark-circled status-success"></i>
            Complete
          </div>
          <div class="job-response active" ng-show="job.exit_code == '0'">
            <img src="assets/images/rolling.svg" class="status-active" />
            Pending
          </div>
          <!-- <div class="job-response fail" ng-show="job.status = Failed">
            Failed
          </div> -->

          <dl>
            <dt>Image:</dt>
            <dd>{{job.image}}</dd>
            <dt>ID:</dt>
            <dd>{{job.id}}</dd>
          </dl>
          <small>{{job.end_time | date:'MM/dd/yyyy @ h:mma Z'}}</small>

        </li>
      </div>
      <!-- <li>Build Response</li> -->
    </ul>
  </div>

</div>
