---
name: home
url: /
---

<div class="grid-container">
  <h1>Acid UI</h1>
  <p class="lead">This is the dashboard.</p>


      <div class="grid-block small-4">
        <a href="/#!/project">
          <h2>Draft</h2>
          <h4>Project</h4>
        </a>
      </div>

      <div class="grid-block small-4">
        <a href="/#!/project">
          <h2>ACID</h2>
          <h4>Project</h4>
        </a>
      </div>

      <div class="grid-block small-4">
        <a href="/#!/project">
          <h2>Helm</h2>
          <h4>Project</h4>
        </a>
      </div>

</div>
