---
name: home
url: /
animationIn: slideInRight
controller: projectsController
---

<div class="medium-grid-block collapse medium-12 large-12 vertical">
  <div class="grid-block collapse vertical">

    <!-- topbar #header -->
    <div id="header" class="shrink collapse grid-content">
      <div class="menu-group primary">
        <div class="menu-group-left">
          <ul class="menu-bar">
            <li 
              ng-controller="projectController" 
              ng-hide="$state.current.name === 'home'">
              <a href="../brigade-ui/#!/project/{{project.id}}">{{project.name}}</a></li>
            <li 
              ng-controller="buildController" 
              ng-class="{ 'active': $state.current.name === 'project'}" 
              ng-hide="$state.current.name === 'home'">
              <a href="../brigade-ui/#!/project">Master</a></li>
            <li ng-show="$state.current.name === 'build'"><a href="/#!/build/{{build.id}}">Build {{ $stateParams.build.id}}</a></li>
          </ul>
        </div>
        <div class="menu-group-right">
          <ul class="icon-right menu-bar">
            <li>
              <a href="" zf-popup-toggle="account-menu">
                <i class="icon ion-person rounded right"></i>
                <small>
                  <i class="icon ion-chevron-down right"></i>
                </small>
              </a>

              <zf-popup id="account-menu" class="account-dropdown">
                <ul class="block-list">
                  <li class="account-user">
                    <small>Logged in as:</small>
                    <strong>roflynnc@microsoft.com</strong>
                  </li>
                  <li><a href="/">User Settings</a></li>
                  <li><a href="https://www.youtube.com/watch?v=G7RgN9ijwE4" target="_blank">Log Out</a></li>

                </ul>
              </zf-popup>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /#header -->

    <div class="grid-block vertical">
      <div class="grid-content content-wrap">

        <div class="grid-content small-centered small-12">
          <div class="grid-container medium-grid-block vertical" id="projects">

            <div class="grid-content">

              <div class="grid-block">

                <a class="add-project" zf-open="showProjectHelp"><i class="icon ion-plus-circled"></i> Add a Project</a>

                <!-- popup modal -->
                <div zf-modal="showProjectHelp" id="showProjectHelp" class="modal-project-help">
                  <div class="modal-inner">
                    <h3>How to Add Projects</h3>
                    <p>Projects are defined by a <code>brigade.js</code> file in your source code, which links your repo with <a target="_blank" href="//brigade.sh">Brigade</a>, to start listening for events (such as pushes to Github).</p>

                    <p>Check out the <a target="_blank" href="https://deis.github.io/brigade/topics/scripting.html#brigade-scripts-projects-and-repositories">Brigade Docs</a> for details on configuring projects and repositories.</p>

                    <em>Example:</em>
                    <img src="assets/images/help-project.png" />
                  </div>
                </div>
                <!-- /popup modal -->

              </div>

              <div class="grid-block" ng-controller="projectsController">

                <section class="small-12 medium-6 large-4" ng-repeat="project in projects">
                  <div class="
                    project
                  ">
                  <!--
                    +
                    project-success
                    project-fail
                    project-active
                  -->
                    <a href="../brigade-ui/#!/project/{{project.id}}" class="">
                      <div class="status">
                        <i class="icon ion-checkmark-circled status-success"></i>
                        <i class="icon ion-close-circled status-fail"></i>
                        <img src="assets/images/rolling.svg" class="status-active" />
                      </div>

                      <h2>{{project.name}}</h2>
                      <h4>Project</h4>

                      <div class="activity" ng-controller="buildsController">
                        <ul>
                          <li ng-repeat="build in project.builds">
                            {{build.job.message}}
                          </li>
                        </ul>
                      </div>
                    </a>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- app footer -->
      <footer class="collapse shrink">
        <ul class="inline-list">
          <li class="right microsoft-logo">
            <a href="https://open.microsoft.com/" target="_blank"><img src="assets/images/microsoft.png" /></a>
          </li>
          <li><span><a href="https://github.com/azure/brigade" target="_blank">BRIGADE</a> is licensed under the The MIT License.</span></li>
          <li><a href="https://github.com/azure/brigade/releases" target="_blank">Changelog</a></li>
          <li><a href="https://github.com/azure/brigade/tree/master/docs" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/azure/brigade/" target="_blank">Github</a></li>
        </ul>
      </footer>

      </div>
    </div>

  </div>
</div>
