---
name: home
url: /
animationIn: slideInRight
controller: projectsController
---

<div class="grid-container medium-grid-block vertical" id="projects">

  <div class="grid-content">

    <div class="grid-block">
      <a class="add-project"><i class="icon ion-plus-circled"></i> Add a Project</a>
    </div>

    <div class="grid-block" ng-controller="projectsController">

      <section class="small-12 medium-6 large-4" ng-repeat="project in projects">
        <div class="project project-success">
          <a href="../acid-ui/#!/project" class="">
            <div class="status">
              <i class="icon ion-checkmark-circled status-success"></i>
              <i class="icon ion-close-circled status-fail"></i>
              <img src="assets/images/rolling.svg" class="status-active" />
            </div>

            <h2>{{project.name}}</h2>
            <h4>Project</h4>

            <div class="activity" ng-controller="buildsController">
              <ul>
                <li ng-repeat="build in project.builds">
                  {{build.job.message}}
                </li>
              </ul>
            </div>
          </a>
        </div>
      </section>

    </div>
  </div>
</div>
