---
name: project
url: /project
animationIn: fadeIn
---

<div class="grid-container">

  <div class="grid-content project-header">
    <div class="medium-grid-block vertical">
      <section class="small-12 collapse columns">
        <h1>Draft Project</h1>
        <h3><small><code>https://github.com/azure/draft.gif</code></small></h3>

        <select class="small-4">
          <option>master</option>
          <option>feature-branch</option>
          <option>gh-pages</option>
          <option>staging-app</option>
        </select>
      </section>

      <aside class="medium-grid-block">
        <div class="grid-content icon-blue small-12 collapse columns">
          <img src="assets/images/puff.svg" />
          Watching for events.
        </div>
      </aside>

    </div>
  </div>

  <ul class="grid-content build-list collapse">
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        Merge pull request #251
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        chore(pkg/draft): re-generate packs
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=722" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://pbs.twimg.com/profile_images/885554951857946624/sd7GRyjY_bigger.jpg" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        /deploy staging
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        doc(readme): clean up readme a bit
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-close-circled icon-red"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        doc(readme): clean up readme a bit
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        doc(readme): clean up readme a bit
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-close-circled icon-red"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/89193?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
  doc(readme): clean up readme a bit
</div>
<div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
    <li class="medium-grid-block build-item"><a href="/build" class="grid-block">
      <div class="act-state small-1 collapse">
        <i class="icon ion-checkmark-circled icon-green"></i>
      </div>
      <div class="act-author small-1 collapse">
        <img src="https://avatars2.githubusercontent.com/u/2347529?v=4&s=72" class="avatar" ">
      </div>
      <div class="act-message small-5 collapse">
        doc(readme): clean up readme a bit
      </div>
      <div class="act-hash small-1 collapse">a4dc72</div>
      <div class="act-time-ago small-2 collapse">2 min ago</div>
      <div class="act-time-duration small-2 collapse">03:37</div>
    </a></li>
  </ul>

  <div class="text-center">
    <button class="secondary round small">Load More</button>
  </div>
</div>
