---
name: project
url: /project
animationIn: fadeIn
---

<div class="grid-container">
  <h1>Draft Project</h1>
  <h3><small><code>https://github.com/azure/draft.gif</code></small></h3>

  <hr>

  <h4>Recent Builds:</h4>

  <ul class="block-list">
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
    <li><a href="/#!/build">Build</a></li>
  </ul>
</div>
