<div class="row">
  <div class="column full-height" data-off-canvas data-position="left">
    <div id="sidebar">
      <a href="/" class="logo" id="kashti-homepage">
        <img src="assets/images/kashti-logo.svg" />
      </a>
      <a href="https://github.com/brigadecore/kashti/tree/master/docs" id="kashti-docs" target="_blank"
        title="Kashti Docs">
        <i class="icon ion-md-document"></i> <em>Kashti Docs</em>
      </a>
      <a href="https://github.com/brigadecore/kashti/issues" id="kashti-issues" target="_blank" title="Kashti Issues">
        <i class="icon ion-md-help"></i> <em>Kashti Issues</em>
      </a>
    </div>
  </div>
</div>