<div class="row">
  <div class="column full-height" data-off-canvas data-position="left">
    <div id="sidebar">
      <a href="/" class="logo" id="kashti-homepage">
        <img src="assets/images/kashti-logo.svg" />
      </a>
      <a href="https://github.com/Azure/kashti/tree/master/docs" id="kashti-docs">
        <i class="icon ion-md-document"></i>
      </a>
      <a href="https://github.com/Azure/kashti/issues" id="kashti-issues">
        <i class="icon ion-md-help"></i>
      </a>
    </div>
  </div>
</div>
