<h2>Grid</h2>
<div class="grid-x grid-margin-left">
  <div class="cell large-offset-2">full width cell with margin</div>
  <div class="cell">full width cell</div>
</div>
<div class="grid-x">
  <div class="small-6 cell">6 cells</div>
  <div class="small-6 cell">6 cells</div>
</div>
<div class="grid-x">
  <div class="medium-6 large-4 cell">12/6/4 cells</div>
  <div class="medium-6 large-8 cell">12/6/8 cells</div>
</div>

<strong>Grid and cells with margin</strong>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4">cell</div>
    <div class="cell small-4">cell</div>
    <div class="cell small-4">cell</div>
  </div>
</div>

<strong>Grid and cells no margin</strong>
<div class="grid-container full">
  <div class="grid-x">
    <div class="cell small-4">cell</div>
    <div class="cell small-4">cell</div>
    <div class="cell small-4">cell</div>
  </div>
</div>

<strong>Grid and cells with margin on single cell</strong>
<div class="grid-container full">
  <div class="grid-x">
    <div class="cell small-4 large-offset-2">cell</div>
    <div class="cell small-4">cell</div>
    <div class="cell small-4">cell</div>
  </div>
</div>

<h2>Buttons</h2>
<button type="button" class="button radius bordered shadow primary">Primary</button>
<button type="button" class="button rounded bordered shadow secondary">Secondary</button>
<button type="button" class="button radius bordered shadow success">Success</button>
<button type="button" class="button rounded bordered shadow alert">Alert</button>
<button type="button" class="button radius bordered shadow warning">Warning</button>

<h2>Tables</h2>
<table class="radius bordered shadow">
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

<h2>Arrows</h2>
<div class="arrow-down display-inline-block margin-right-1"></div>
<div class="arrow-up display-inline-block margin-right-1"></div>
<div class="arrow-right display-inline-block margin-right-1"></div>
<div class="arrow-left display-inline-block"></div>

<h2>Separators</h2>
<div class="row">
  <div class="small-12 medium-4 columns">
    <h3 class="separator-left">Lorem</h3>
  </div>
  <div class="small-12 medium-4 columns">
    <h3 class="separator-center">Ipsum Dolor</h3>
  </div>
  <div class="small-12 medium-4 columns">
    <h3 class="separator-right">Tempor</h3>
  </div>
</div>

<h2>Text Transformation</h2>
<p class="text-uppercase">
  <strong>This is a upper-cased text.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor,
  the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying
  in ways that parallel the decline of the Western Roman Empire.</p>
<p class="text-lowercase">
  <strong>This is a lower-cased text.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor,
  the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying
  in ways that parallel the decline of the Western Roman Empire.</p>
<p class="text-capitalize">
  <strong>This is a caPitAlized teXt.</strong> Set in the yEar 0 F.E. ("Foundation Era"), The PsychohisTorians opens on Trantor,
  the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying
  in ways that parallel the decline of the Western Roman Empire.</p>


<h2>Text Truncate</h2>
<p class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptatem similique officiis recusandae esse cum in totam
  quisquam perspiciatis quod! Magnam culpa vitae, tempore eos explicabo cupiditate. Deserunt, quisquam, quos!</p>

<div class="slider" data-slider data-initial-start="50" data-end="200">
  <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
  <span class="slider-fill" data-slider-fill></span>
  <input type="hidden">
</div>
