<div class="template-project">
  <section class="row align-center small-up-1">

    <div class="project-header-wrap columns">
      <div class="project-header">
        <h1>{{ project?.name }} </h1>
        <ul>
          <li>Repo: {{ project?.repo.name }} </li>
          <li>Sidecar: {{ project?.kubernetes.vcsSidecar }} </li>
          <li>Namespace: {{ project?.kubernetes.namespace }} </li>
        </ul>

      </div>
    </div>

    <p *ngIf="builds?.length == 0" class="empty">Nothing here yet! Watching for <a
        href="https://brigadecore.github.io/brigade/">Brigade</a> <a
        href="https://brigadecore.github.io/brigade/topics/scripting.html">events</a>...</p>

    <ul class="grid-content build-list columns">
      <li class="medium-grid-block build-item" *ngFor="let build of (builds | sortBuildByStartDate)">
        <a routerLink="/builds/{{build.id}}" class="grid-block">
          <app-build-status-badge [status]="build.worker?.status"></app-build-status-badge>
          <span class="act-author"
            title="Build triggered by {{ build.provider }} / {{ build.type }}: commit {{ build.revision.commit }} ref {{ build.revision.ref }}">
            <span class="act-avatar">
              <i [ngClass]="CalculateProviderLogoClass(build.provider)"></i>
            </span>
            {{ build.provider }}
          </span>
          <span class="act-message" title="Build ID: {{ build.id }}">
            <em>#</em><em class="truncate">{{ build.id }}</em>
          </span>

          <!-- if build has data -->
          <span class="act-times" *ngIf="build.worker?.status; else unKnownState">

            <!-- if ongoing -->
            <span class="act-times-wrap" *ngIf="build.worker?.status == 'Pending'"
              title="Waiting for image pull to complete, and for container to start. {{ build.worker?.start_time | date:'long' }}">
              <span class="act-time-duration">Initializing...</span>
              <span class="act-time-ago right text-right">seconds ago</span>
            </span>
            <span class="act-times-wrap" *ngIf="build.worker?.status == 'Running'"
              title="Build started {{ build.worker?.start_time | date:'long' }}">
              <span class="act-time-duration">Build started...</span>
              <span
                class="act-time-ago text-right right">{{ build.worker?.start_time | amDifference: today :'minutes' : true | amDuration:'minutes' | lowercase }}
                ago</span>
            </span>

            <!-- if completed -->
            <span class="act-times-wrap" *ngIf="
              build.worker?.status == 'Failed' ||
              build.worker?.status == 'Succeeded'
            ">
              <span class="act-time-duration">Build {{ build.worker?.status | lowercase }} after <span
                  title="Build started {{ build.worker?.start_time | date:'long' }}">{{ build.worker?.start_time | amDifference: build.worker?.end_time :'seconds' : true | amDuration:'seconds' }}.</span></span>

              <span class="act-time-ago right text-right"
                title="Build completed {{ build.worker?.end_time | date:'long' }}">{{ build.worker?.end_time | amTimeAgo }}</span>
            </span>

          </span>

          <!-- if build has incomplete data -->
          <ng-template #unKnownState><span class="unknown">Log unavailable.</span></ng-template>
        </a>
      </li>
    </ul>

  </section>
</div>