<div class="template-project">
  <section class="row align-center small-up-1">

    <div class="breadcrumb-bar columns">
      <a routerLink="/">Home</a>
      <a>{{ project.name }}</a>
    </div>

    <div class="project-header-wrap columns">
      <div class="project-header">
        <h1>Project Name {{ project.name }}</h1>
        <ul>
          <li>https://github.com/deis/empty-testbed.git {{ project.url }}</li>
          <li>Sidecar: {{ project.sidecar }}</li>
          <li>Namespace: default {{ project.namespace }}</li>
        </ul>

      </div>
    </div>


    <ul class="grid-content build-list columns">
      <li class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">

          <span class="act-state collapse success">
            <div class="success" title="Passed"><i class="icon ion-md-checkmark-circle"></i></div>
          </span>
          <span class="act-author ng-binding">
            <span class="act-avatar">
              <i class="icon ion-logo-github" ng-show="build.provider === 'github' "></i>
            </span>
            github
          </span>
          <span class="act-hash ng-binding">
            master
          </span>
          <span class="act-message ng-binding">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago ng-binding">
            Succeeded <span am-time-ago="build.worker.end_time">42 mins ago</span>.
          </span>
          <span class="act-time-duration">
            Ran for <span class="ng-binding">33 seconds.</span>
          </span>
        </a>
      </li>
      <li class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">

          <span class="act-state collapse active">
            <div class="spinner" title="In progress"></div>
          </span>
          <span class="act-author ng-binding">
            <span class="act-avatar">
              <img src="assets/images/slack.png" alt="Slack" />
            </span>
            slack
          </span>
          <span class="act-hash ng-binding">
            master
          </span>
          <span class="act-message ng-binding">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago ng-binding">
            In progress...
          </span>
          <span class="act-time-duration">
            Started <span class="ng-binding">12 mins</span> ago.
          </span>
        </a>
      </li>
      <li ng-repeat="build in builds | orderBy: reverse:true" class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">
          <span class="act-state collapse success">
            <div class="success" title="Succeeded"><i class="icon ion-md-checkmark-circle"></i></div>
          </span>
          <span class="act-author ng-binding">
            <span class="act-avatar">
             <i class="icon ion-ios-flash"></i>
            </span>
            brigade-cli
          </span>
          <span class="act-hash ng-binding">
            master
          </span>
          <span class="act-message ng-binding">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago ng-binding">
            Succeeded <span am-time-ago="build.worker.end_time">3 days ago</span>.
          </span>
          <span class="act-time-duration">
            Ran for <span class="ng-binding">42 seconds.</span>
          </span>
        </a>
      </li>
      <li ng-repeat="build in builds | orderBy: reverse:true" class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">

          <span class="act-state collapse unknown">
            <span class="unknown"><i class="icon ion-md-radio-button-off"></i></span>
          </span>
          <span class="act-author">
            <span class="act-avatar">
              <img src="assets/images/trello.png" alt="Trello" />
            </span>
            trello
          </span>
          <span class="act-hash">
            master
          </span>
          <span class="act-message">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago">
            <code>State Unknown</code>
          </span>
        </a>
      </li>
      <li ng-repeat="build in builds | orderBy: reverse:true" class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">
          <span class="act-state collapse failed">
            <div class="failed" title="Failed"><i class="icon ion-md-close-circle"></i></div>
          </span>
          <span class="act-author ng-binding">
            <span class="act-avatar">
             <i class="icon ion-ios-flash"></i>
            </span>
            brigade-cli
          </span>
          <span class="act-hash ng-binding">
            master
          </span>
          <span class="act-message ng-binding">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago ng-binding">
            Failed <span am-time-ago="build.worker.end_time">a month ago</span>.
          </span>
          <span class="act-time-duration">
            Ran for <span class="ng-binding">48 seconds.</span>
          </span>
        </a>
      </li>
      <li ng-repeat="build in builds | orderBy: reverse:true" class="medium-grid-block build-item ng-scope" style="">
        <a routerLink="/build/{{build.id}}" class="grid-block">
          <span class="act-state collapse success">
            <div class="success" title="Success"><i class="icon ion-md-checkmark-circle"></i></div>
          </span>
          <span class="act-author ng-binding">
            <span class="act-avatar">
              <img src="assets/images/docker.png" alt="Docker" />
            </span>
            docker
          </span>
          <span class="act-hash ng-binding">
            master
          </span>
          <span class="act-message ng-binding">
            <em>#</em>01bzzn45f0p5bjtsffw9m8chts
          </span>
          <span class="act-time-ago ng-binding">
            Failed <span am-time-ago="build.worker.end_time">a month ago</span>.
          </span>
          <span class="act-time-duration">
            Ran for <span class="ng-binding">4 mins.</span>
          </span>
        </a>
      </li>
    </ul>

  </section>
</div>
