<div class="template-project">
  <section class="row align-center small-up-1">

    <div class="breadcrumb-bar columns">
      <a routerLink="/">Home</a>
      <i class="icon ion-ios-arrow-forward"></i>
      <a routerLink="project/:id">Project ID {{ project?.id }}</a>
    </div>

    <div class="project-header-wrap columns">
      <div class="project-header">
        <h1>{{ project?.name }} </h1>
        <ul>
          <li>Repo: {{ project?.repo.name }} </li>
          <li>Sidecar: {{ project?.kubernetes.vcsSidecar }} </li>
          <li>Namespace: {{ project?.kubernetes.namespace }} </li>
        </ul>

      </div>
    </div>

    <ul class="grid-content build-list columns">
      <li class="medium-grid-block build-item" *ngFor="let build of builds">
        <a routerLink="/builds/{{build.id}}" class="grid-block">
          <app-build-status-badge [status]="build.worker?.status"></app-build-status-badge>
          <span class="act-author" title="Build triggered by {{ build.provider }} / {{ build.type }}: commit {{ build.revision.commit }} ref {{ build.revision.ref }}">
            <span class="act-avatar">
              <i [ngClass]="CalculateProviderLogoClass(build.provider)"></i>
            </span>
            {{ build.provider }}
          </span>
          <span class="act-message" title="Build ID">
            <em>#</em>{{ build.id }}
          </span>

          <!-- if build has data -->
          <span *ngIf="build.worker?.status; else unKnownState">

            <!-- build state + duration -->
            <span class="act-time-duration">

              <!-- if ongoing -->
              <span *ngIf="build.worker?.status == 'Pending'" class="act-time-duration" title="Waiting for image pull to complete, and for container to start. {{ build.worker?.start_time | date:'long' }}">
                Initializing... <span class="act-time-ago right text-right">{{ build.worker?.start_time | amDifference: today :'minutes' : true | amDuration:'minutes' }}</span>
              </span>
              <span *ngIf="build.worker?.status == 'Running'" title="Building started {{ build.worker?.start_time | date:'long' }}">
                Building... <span class="act-time-ago text-right right">{{ build.worker?.start_time | amDifference: today :'minutes' : true | amDuration:'minutes' }}</span>
              </span>

              <!-- if completed -->
              <span *ngIf="
                build.worker?.status == 'Failed' || 
                build.worker?.status == 'Succeeded'
              ">
                Build {{ build.worker?.status | lowercase }} after <span title="Build started {{ build.worker?.start_time | date:'long' }}">{{ build.worker?.start_time | amDifference: build.worker?.end_time :'seconds' : true | amDuration:'seconds' }}.</span>

                <span class="act-time-ago right text-right" title="Build completed {{ build.worker?.end_time | date:'long' }}">{{ build.worker?.end_time | amTimeAgo }}</span>
              </span>
            </span>

          </span>

          <!-- if build has incomplete data -->
          <ng-template #unKnownState><span class="unknown">Log unavailable.</span></ng-template>
        </a>
      </li>
    </ul>

  </section>
</div>
