<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large primary" id="sidebar" data-off-canvas data-position="left">
      <div class="row column">
        <img class="thumbnail" src="http://placehold.it/36x36">
      </div>
      <div class="row column align-bottom">
        <img class="thumbnail" src="http://placehold.it/36x36">
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">Mike Mikerson</span>
        </div>
      </div>
      <!-- <div class="callout primary">
        <div class="row column">
          <h1>Hello! This is the portfolio of a very witty person.</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui
            sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
        </div>
      </div> -->
      <div class="row small-up-2 medium-up-3 large-up-3">
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
      </div>

      <hr>
      <footer class="collapse shrink">
        <ul class="no-bullet">
          <li class="right microsoft-logo">
            <a href="https://open.microsoft.com/" target="_blank">
              <img src="assets/images/microsoft.png">
            </a>
          </li>
          <li>
            <span>
              <a href="https://github.com/azure/kashti" target="_blank">KASHTI</a> and
              <a href="https://github.com/azure/brigade" target="_blank">BRIGADE</a> are licensed under the The MIT License.</span>
          </li>
          <li>
            <a href="https://github.com/azure/kashti/releases" target="_blank">Changelog</a>
          </li>
          <li>
            <a href="https://github.com/azure/kashti/tree/master/docs" target="_blank">Documentation</a>
          </li>
          <li>
            <a href="https://github.com/azure/kashti/" target="_blank">Github</a>
          </li>
        </ul>
      </footer>

      <!-- <div class="row">
        <div class="medium-6 columns">
          <h3>Contact Me</h3>
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
            Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat
            nisl ut dapibus. Mauris iaculis porttitor.</p>
          <ul class="menu">
            <li>
              <a href="#">Dribbble</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Yo</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
