<div class="row small-up-2 medium-up-3 large-up-3">
  <section class="column" *ngFor="let project of projects">
    <div class="project project-failed" ng-class="{
      'project-success': project.lastBuild.worker.status == 'Succeeded',
      'project-failed': project.lastBuild.worker.status == 'Failed',
      'project-active': project.lastBuild.worker.status == 'Active'
    }">
      <a routerLink="/project/{{project.id}}">
        <div class="status">
          <div class="success ng-hide" ng-show="project.lastBuild.worker.status == 'Succeeded'">
            <i class="icon ion-checkmark-circled status-success"></i>
          </div>
          <div class="failed" ng-show="project.lastBuild.worker.status == 'Failed'">
            <i class="icon ion-close-circled status-fail"></i>
          </div>
          <div class="active ng-hide" ng-show="project.lastBuild.worker.status == 'Active'">
            <img src="assets/images/rolling.svg" class="status-active">
          </div>
        </div>

        <h2>{{ project.name }}</h2>

        <div class="activity">
          <ul>
            <li>
              <span ng-hide="project.lastBuild.worker.status == null">
                {{ project.lastBuild.provider}}:{{ project.lastBuild.type}} {{ project.lastBuild.commit }} -
                <span>{{project.lastBuild.worker.end_time | amTimeAgo}}</span>
                <br>
                <em>#</em>{{ project.lastBuild.id }}
              </span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </section>

</div>
<div class="row">

  <footer class="small-12 column">
    <ul class="no-bullet">
      <li>
        <span>
          <a href="https://github.com/azure/kashti" target="_blank">KASHTI</a> and
          <a href="https://github.com/azure/brigade" target="_blank">BRIGADE</a> are licensed under the The MIT License.</span>
      </li>
      <li>
        <a href="https://github.com/azure/kashti/releases" target="_blank">Changelog</a>
      </li>
      <li>
        <a href="https://github.com/azure/kashti/tree/master/docs" target="_blank">Documentation</a>
      </li>
      <li>
        <a href="https://github.com/azure/kashti/" target="_blank">Github</a>
      </li>
    </ul>
  </footer>
</div>
