.build-status {
  position: absolute;
  right: 1.5rem;
  line-height: 1;
  top: 1rem;
  background: white;
  text-align: center;
  min-width: 10.5rem;
  padding: 0.75rem 3rem 0.5rem;
  font-weight: bold;
  @include border-radius(0.35rem,0.35rem);
  @include box-shadow(0,2px,2px,rgba(0,0,0,0.125));

  .icon,
  img {
    font-size: 1.5rem;
    float: left;
    margin: -0.3rem 1rem 0 -0.25rem;
    max-width: 1.5rem;
  }

  &.build-success,
  .success {
    color: $success;
  }

  &.build-failed,
  .failed {
    color: $error;
  }
  &.build-active,
  .active {
    color: $active;
  }
}