.build-status {
  position: absolute;
  right: 1.5rem;
  line-height: 1;
  top: 1rem;
  background: white;
  text-align: center;
  min-width: 10.5rem;
  padding: 0.75rem 3rem 0.5rem;
  font-weight: bold;
  @include border-radius(0.35rem,0.35rem);
  @include box-shadow(0,2px,2px,rgba(0,0,0,0.125));

  .icon,
  img {
    font-size: 1.5rem;
    float: left;
    margin: -0.3rem 1rem 0 -0.25rem;
    max-width: 1.5rem;
  }

  &.build-success,
  .success {
    color: $success;
  }

  &.build-failed,
  .failed {
    color: $error;
  }
  &.build-active,
  .active {
    color: $active;
  }
}

.breadcrumb-bar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 56px;
  right: 0;
  padding: 0 0.2rem;
  min-height: 3.6rem;
  background: lighten($light1, 3.5%);
  border-bottom: 1px solid $light1;
  @include transition;

  &:hover {
    background: lighten($light1, 1.5%);
  }

  a,
  i {
    line-height: 2.25;
    padding: 0.75rem 2rem;
    display: inline-block;
  }

  a {
    color: $brand1;
    opacity: 0.5;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }

  i {
    font-size: 1.5rem;
    padding: 0;
    position: absolute;
    margin-left: -0.25rem;
    top: 0.25rem;
    color: darken($light1, 7.5%);
  }
}