/* You can add global styles to this file, and also import other style files */

@import '~foundation-sites/scss/foundation';
@include foundation-everything($prototype: true);
@include foundation-flex-classes;
@include foundation-flex-grid;

@import 'ionicons';

@import 'global_variables';

.full-height {
  flex: 0 0 3.5em;
  min-height: 100vh;
}

#main {
  height: 100vh;
  flex-grow: 1;

  padding-top: 1.75rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 3.5rem;
}
